<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<form id="authForm" th:object="${userDto}" th:action="@{/auth/login}" class="modal-content form-group needs-validation">
    <div class="modal-header">
        <h4 class="modal-title me-auto text-uppercase">&gt; Log_in / Register</h4>
        <button th:replace="~{fragments/dialog-modal :: close-btn}"></button>
    </div>
    <div class="modal-body d-flex flex-column gap-2">
        <div class="d-flex flex-column gap-1">
            <label for="username" class="text-uppercase">Username</label>
            <input id="username" th:field="*{username}" type="text" class="form-control"
                   th:classappend="${#fields.hasErrors('username') ? 'is-invalid' : ''}"
                   placeholder="Enter username" required autofocus>
            <div th:if="${#fields.hasErrors('username')}" class="invalid-feedback d-block">
                <span th:errors="*{username}"></span>
            </div>
        </div>
        <div class="d-flex flex-column gap-1">
            <label for="password" class="text-uppercase">Password</label>
            <input id="password" th:field="*{password}" type="password" class="form-control"
                   th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
                   placeholder="Enter password" required>
            <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback d-block">
                <span th:errors="*{password}"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer d-flex flex-column gap-2">
        <button type="submit"
                hx:post="@{/login}"
                hx-trigger="click, login from:body"
                hx-target="#authForm"
                hx-swap="outerHTML"
                hx-disabled-elt="this"
                class="btn btn-primary w-100 m-0 text-uppercase">Log in</button>
        <label class="fw-lighter">&#8659; or create a new account &#8659;</label>
        <button type="submit"
                hx:post="@{/auth/register}"
                hx-target="#authForm"
                hx-swap="outerHTML"
                hx-disabled-elt="this"
                class="btn btn-secondary w-100 m-0 text-uppercase">Register</button>
    </div>
</form>
</html>
