<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      lang="en">

<div class="modal-content" style="min-height: 60vh;" th:with="paypalPaymentType=${T(com.lmalecic.milvshop.entity.PaymentType).PAYPAL.name()}">
    <div class="modal-header">
        <h3 class="modal-title command-text text-uppercase"
            th:text="'Cart — ' + ${session.cart?.items?.size() ?: 0} + ${(session.cart == null or session.cart?.items?.size() == 0 or session.cart?.items?.size() > 1) ? ' Products' : ' Product'}">
            Cart
        </h3>
        <button th:replace="~{fragments/dialog-modal :: close-btn}"></button>
    </div>
    <div class="modal-body">
        <div class="row" th:if="${session.cart != null and session.cart?.items?.size() > 0}">
            <div class="col d-flex flex-column gap-3">
                <div th:each="item : ${session.cart.items.values()}" th:insert="~{fragments/cart/item}"></div>
            </div>
            <div class="col-3">
                <div class="mb-1 text-center fs-5 text-uppercase fw-semibold text-secondary">Summary</div>
                <div class="d-flex flex-row w-100 mb-2">
                    <div class="align-self-start text-uppercase" th:text="${session.cart.getTotalQuantity()} + ' Items'">Items</div>
                    <div class="separator-dots flex-grow-1 mx-1"></div>
                    <div th:text="${session.cart.getTotalFormatted()}" class="align-self-end"></div>
                </div>
                <div class="d-flex flex-row w-100 mb-2">
                    <div class="align-self-start text-uppercase">Shipping</div>
                    <div class="separator-dots flex-grow-1 mx-1"></div>
                    <div th:text="${@formats.price(0, #locale)}" class="align-self-end"></div>
                </div>
                <div class="d-flex flex-row w-100 mb-2">
                    <div class="align-self-start text-uppercase">Tax</div>
                    <div class="separator-dots flex-grow-1 mx-1"></div>
                    <div th:text="${@formats.price(0, #locale)}" class="align-self-end"></div>
                </div>
                <div class="d-flex flex-row w-100 mb-3 mt-3">
                    <div class="align-self-start text-uppercase">Total</div>
                    <div class="separator-dots flex-grow-1 mx-1"></div>
                    <div th:text="${session.cart.getTotalFormatted()}" class="align-self-end"></div>
                </div>
                <form class="d-flex flex-column gap-2">
                    <button type="button" class="btn btn-primary text-uppercase w-100 mt-2"
                            hx:post="@{/checkout}" hx-target="#cartModalContent"
                            hx-vals='{"paymentType": "CASH"}'>
                        <i class="bi bi-cash-coin"></i>
                        Check out
                    </button>
                    <button sec:authorize="isAuthenticated()"
                            type="button" class="btn btn-warning text-uppercase fw-semibold w-100"
                            hx:post="@{/checkout}" hx-target="#cartModalContent"
                            hx:vals="${ { paymentType: paypalPaymentType } }"
                            data-paypal-checkout-launcher>
                        <i class="bi bi-paypal"></i>
                        Pay with PayPal
                    </button>
                    <button sec:authorize="isAnonymous()"
                            type="button" class="btn btn-warning text-uppercase fw-semibold w-100"
                            hx:post="@{/checkout}" hx-target="#cartModalContent"
                            hx:vals="${ { paymentType: paypalPaymentType } }">
                        <i class="bi bi-paypal"></i>
                        Pay with PayPal
                    </button>
                    <button type="button" class="btn btn-danger text-uppercase fw-semibold w-100 mt-3"
                            hx:delete="@{/cart/all}" hx-target="#cartModalContent">
                        <i class="bi bi-trash-fill"></i>
                        Remove all items
                    </button>
                </form>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center fw-bold" th:if="${session.cart == null or session.cart?.items?.size() == 0}">
            <div class="fs-2 text-uppercase">Your cart is empty!</div>
            <div class="fs-4 text-secondary">Add products to get started</div>
        </div>
    </div>
</div>

<script>
    (() => {
        const itemImg = $("#itemImg");
        const imgPathInput = $("#imgPath");

        imgPathInput.on("input", function() {
            const url = $(this).val();
            itemImg.attr("src", url || "");
        });
    })();
</script>

</html>
