<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<button th:fragment="create" class="tank-card btn btn-secondary w-100 h-100 d-flex flex-column border-2 rounded-4 text-decoration-none fw-bold"
        hx:get="@{/admin/nations/create}"
        hx-target="#detailsModalContent"
        hx-trigger="click"
        data-bs-toggle="modal"
        data-bs-target="#detailsModal">
    <span class="fs-1 card-img">&plus;</span>
    <span class="fs-5 text-uppercase card-img">&lsqb;Create&rsqb;</span>
</button>

<!--/*@thymesVar id="nation" type="com.lmalecic.milvshop.dto.NationDto"*/-->
<a th:fragment="item" href="#"
   hx:get="@{{itemClickPath}/{id}(itemClickPath=${itemClickPath}, id=${nation.id})}"
   hx-target="#detailsModalContent"
   hx-trigger="click"
   data-bs-toggle="modal"
   data-bs-target="#detailsModal"
   class="nation-card card border-2 rounded-4 text-decoration-none"
   th:classappend="${nation.deleted == true ? 'deleted' : ''}">
    <div class="w-100 h-100 overflow-hidden rounded-4">
        <img th:src="${nation.imgPath}" class="card-img text-center" alt="[NO IMAGE]">
    </div>
    <div class="top-left-corner d-flex align-items-start flex-row gap-1" style="max-width: 90%;">
        <div class="card-stat rounded-3 fs-6 d-inline-flex flex-row"
             th:classappend="${nation.deleted == true ? 'deleted' : ''}">
            <span th:text="${nation.getDisplayName()}" class="fw-semibold" th:classappend="${nation.deleted == true ? 'text-decoration-line-through' : ''}"></span>
        </div>
    </div>
</a>

</html>