<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en"
      th:with="searchFormPath=@{/admin/nations/search}">
<head th:replace="~{fragments/layout :: head('Admin | Nations')}"></head>

<h1 class="fw-bold">Nations Department</h1>
<form th:replace="~{fragments/admin/basic-search-form :: form(${searchFormPath})}"></form>

<dialog id="detailsModal" class="modal fade" style="background-color: rgba(0,0,0,0)" tabindex="-1" aria-hidden="true">
    <div id="detailsModalContent" class="modal-dialog modal-dialog-centered modal-lg modal-replaced-pulse">
    </div>
</dialog>

<dialog id="confirmDeleteModal" class="modal fade" style="background-color: rgba(0,0,0,0)" tabindex="-1" aria-hidden="true">
    <div id="confirmDeleteModalContent" class="modal-dialog modal-dialog-centered"></div>
</dialog>

<script>
    (() => {
        const navBtns = $(".admin-nav-btn");
        navBtns.on("click", function () {
            navBtns.removeClass("active");
            $(this).addClass("active");
        })
    })();
</script>

</html>