<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:replace="~{shared/head.html :: head(${tank.name})}"></head>
<body>
    <div th:replace="~{shared/navbar.html :: navbar}"></div>

    <div class="row">
        <div class="col" style="max-width: 30%" th:if="${tank.imgPath != null}">
            <div class="tank-card card p-2 border-3 rounded-4">
                <img class="card-img" th:src="${tank.imgPath}" alt="Tank image">
            </div>
        </div>
        <div class="col">
            <div class="d-inline-flex flex-row mb-2 gap-2">
                <a type="button"
                   th:href="@{/tanks/filter(nationIds=${tank.nation.id})}"
                   class="filter-btn border border-0 text-white d-inline-flex flex-row align-items-center gap-2 rounded-3 text-decoration-none">
                    <img class="rounded-1 flag-sm" th:src="${tank.nation.imgPath}" alt="">
                    <span class="fs-6" th:text="${tank.nation.name}"></span>
                </a>
                <a type="button"
                   th:href="@{/tanks/filter(tankRoleIds=${tank.tankRole.id})}"
                   class="filter-btn border border-0 text-white d-inline-flex flex-row align-items-center gap-2 rounded-3 text-decoration-none">
                    <img class="rounded-1 flag-sm" th:src="${tank.tankRole.imgPath}" alt="">
                    <span class="fs-6" th:text="${tank.tankRole.name}"></span>
                </a>
            </div>
            <h1 class="fw-bold" th:text="${tank.name}"></h1>
            <p th:text="${tank.description}" class="text-secondary"></p>
            <div class="d-inline-flex flex-row flex-wrap gap-2">
                <a
                   th:href="@{/tanks/filter(crewSize=${tank.crewSize})}"
                   class="filter-btn border border-0 text-white d-inline-flex flex-row align-items-center gap-1 rounded-3 text-decoration-none">
                    <img class="rounded-1 flag-sm" src="/img/stats/crewSize.png" alt="">
                    <span class="fs-6" th:text="${tank.crewSize}"></span>
                </a>
                <a
                   th:href="@{/tanks/filter(mainGunCalibre=${tank.mainGunCalibre})}"
                   class="filter-btn border border-0 text-white d-inline-flex flex-row align-items-center gap-1 rounded-3 text-decoration-none">
                    <img class="rounded-1 flag-sm" src="/img/stats/mainGunCalibre.png" alt="">
                    <span class="fs-6" th:text="${tank.mainGunCalibre} + 'mm'"></span>
                </a>
                <a
                   th:href="@{/tanks/filter(armorThicknessMin=${tank.armorThickness}, armorThicknessMax=${tank.armorThickness})}"
                   class="filter-btn border border-0 text-white d-inline-flex flex-row align-items-center gap-1 rounded-3 text-decoration-none">
                    <img class="rounded-1 flag-sm" src="/img/stats/armorThickness.png" alt="">
                    <span class="fs-6" th:text="${tank.armorThickness + 'mm'}"></span>
                </a>
                <a
                   th:href="@{/tanks/filter(maxSpeed=${tank.maxSpeed})}"
                   class="filter-btn border border-0 text-white d-inline-flex flex-row align-items-center gap-1 rounded-3 text-decoration-none">
                    <img class="rounded-1 flag-sm" src="/img/stats/maxSpeed.png" alt="">
                    <span class="fs-6" th:text="${tank.maxSpeed + 'km/h'}"></span>
                </a>
            </div>
        </div>
        <div class="col" style="max-width: 15%;">
            <div class="d-flex flex-column align-items-end">
                <form class="d-flex flex-column gap-3">
                    <div th:text="${tank.getPriceString()}" class="text-end fs-4 text-secondary"></div>
                    <div class="d-flex flex-column gap-2">
                        <label for="quantity">Quantity</label>
                        <div class="input-group">
                            <button type="button" id="decrementQuantity" class="input-group-text fw-bolder">&minus;</button>
                            <input id="quantity" name="quantity" class="form-control text-center" type="number" value="1" min="1" max="9999">
                            <button type="button" id="incrementQuantity" class="input-group-text fw-bolder">&plus;</button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary text-uppercase">Add to cart</button>
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="~{shared/footer.html :: footer}"></footer>

    <script>
        const quantityInput = $("#quantity");
        const decrementBtn = $("#decrementQuantity");
        const incrementBtn = $("#incrementQuantity");

        quantityInput.on('keydown', (e) => {
            if (e.key.length === 1 && /\D/.test(e.key)) {
                e.preventDefault();
            }
        });

        function validateQuantity() {
            let value = parseInt(quantityInput.val());
            const min = parseInt(quantityInput.attr('min'));
            const max = parseInt(quantityInput.attr('max'));

            if (isNaN(value) || value < min) {
                quantityInput.val(min);
                value = min;
            } else if (value > max) {
                quantityInput.val(max);
                value = max;
            }

            decrementBtn.prop("disabled", value <= min);
            incrementBtn.prop("disabled", value >= max);
        }

        quantityInput.on('focusout', (e) => {
            validateQuantity();
        });

        decrementBtn.on("click", () => {
            quantityInput.get(0).stepDown();
            validateQuantity();
        });

        incrementBtn.on("click", () => {
            quantityInput.get(0).stepUp();
            validateQuantity();
        });
    </script>
</body>
</html>