<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<form class="d-flex flex-column gap-3 mt-3" method="get"
      hx:get="${searchPath}"
      hx-trigger="load, submit, change delay:100ms, input delay:200ms, refreshList from:body"
      hx-target="#searchResults">
    <div class="d-flex flex-column gap-2">
        <label class="form-check form-switch">
            <input type="checkbox" class="form-check-input" th:field="${searchCriteria.showDeleted}">
            <span class="from-check-label">Show deleted</span>
        </label>
        <label class="d-inline-flex flex-row gap-3">
            <span hidden>Name</span>
            <input type="text" class="form-control" placeholder="Search by name..." th:field="${searchCriteria.query}">
        </label>
    </div>
    <div class="row">
        <div id="searchResults" class="col"></div>
    </div>
</form>

</html>