<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<header th:fragment="header">
    <nav class="d-flex flex-column align-items-center text-white fw-bold w-100 mb-5 mt-1">
        <a style="text-transform: none;" class="mt-2 navbar-item fs-2 fw-bolder d-inline-flex flex-row align-items-center gap-3" th:href="@{/}">
            <img src="/img/shop.png" alt="" height="32">
            MilV Shop
            <img src="/img/shop.png" alt="" height="32">
        </a>
        <div class="mt-2 d-flex gap-3 fs-5 justify-content-center">
            <a class="navbar-item d-flex align-items-center gap-sm-2" th:href="@{/}">
                <img class="h-75" src="/img/home.png" alt="">
                Home
            </a>
            //
            <a class="navbar-item d-flex align-items-center gap-sm-2" th:href="@{/tanks}">
                <img class="h-75" src="/img/tank.png" alt="">
                Tanks
            </a>
            //
            <a id="navbar-cart" class="navbar-item d-flex align-items-center gap-sm-2" th:href="@{/cart}">
                <img class="h-75" src="/img/cart.png" alt="">
                Cart
            </a>
            <div style="margin-right: var(--page-margin-right)" class="position-absolute d-flex gap-3 end-0 fs-5">
                <div class="d-flex gap-2 fs-5 justify-content-center" sec:authorize="isAnonymous()">
                    <a href="#" class="navbar-item d-flex align-items-center gap-sm-2"
                       hx-get="/auth/login" hx-target="#authModal"
                       data-bs-toggle="modal" data-bs-target="#loginModal">
                        <img style="transform: rotate(225deg)" class="h-75" src="/img/login.png" alt="">
                        Login
                    </a>
                </div>
                <div sec:authorize="isAuthenticated()" class="dropdown">
                    <a href="#" role="button" id="userDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"
                       class="navbar-item d-flex align-items-center gap-sm-2">
                        <img height="24" width="24" src="/img/user.png" alt="">
                        <span style="text-transform: none !important;" sec:authentication="name"></span>
                    </a>

                    <form class="dropdown-menu dropdown-menu-end text-end border-0 rounded-0" style="background-color: var(--bs-body-bg) !important;" aria-labelledby="userDropdownMenuLink" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                        <button type="submit" class="dropdown-item navbar-item fw-bolder bg-transparent border-0 d-flex align-items-center gap-sm-1 p-0 justify-content-end">
                            <img height="24" width="24" src="/img/close.png" alt="">
                            Logout
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <!-- Login/Register Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" id="authModal">
        </div>
    </div>

    <script src="/js/shared.js"></script>
</header>
</html>