<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">

<head th:fragment="head(title)"
      th:with="
        appTitle=${T(com.lmalecic.milvshop.util.Constants).APP_TITLE},
        pageTitle=${title} ? ${title.trim()}
      ">
    <title th:text="${#strings.isEmpty(pageTitle) ? '🪖 ' + appTitle : '🪖 ' + pageTitle + ' | ' + appTitle}">
        MilV Shop
    </title>

    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!-- Custom CSS Styles, must be after Bootstrap -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>

    <!--Custom JS-->
    <script src="/js/shared.js"></script>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
</head>

<header th:fragment="header">
    <nav class="d-flex flex-column align-items-center text-white w-100 mb-5 mt-1">
        <a style="text-transform: none;" class="mt-2 navbar-item fs-2 fw-bolder d-inline-flex flex-row align-items-center gap-3 fw-bold" th:href="@{/}">
            <img src="/img/shop.png" alt="" height="32">
            MilV Shop
            <img src="/img/shop.png" alt="" height="32">
        </a>
        <div class="mt-2 d-flex gap-3 fs-5 fw-bold justify-content-center">
            <div class="d-flex gap-3 justify-content-center navbar-item-container">
                <a class="navbar-item d-flex align-items-center gap-sm-2"
                   th:classappend="${@viewUtils.activeClass('/')}"
                   th:href="@{/}">
                    <img class="h-75" src="/img/home.png" alt="">
                    Home
                </a>
                <span class="navbar-item-separator"></span>
                <a class="navbar-item d-flex align-items-center gap-sm-2"
                   th:classappend="${@viewUtils.activeClass('/tanks')}"
                   th:href="@{/tanks}">
                    <img class="h-75" src="/img/tank.png" alt="">
                    Tanks
                </a>
                <span class="d-inline-flex gap-3" sec:authorize="isAuthenticated()">
                    <span class="navbar-item-separator"></span>
                    <a id="navbar-orders" class="navbar-item d-flex align-items-center gap-sm-2"
                       th:classappend="${@viewUtils.activeClass('/orders')}"
                       th:href="@{/orders}">
                        <img class="h-75" src="/img/orders.png" alt="">
                        Orders
                    </a>
                </span>
                <span class="d-inline-flex gap-3" sec:authorize="hasRole('ADMIN')">
                    <span class="navbar-item-separator"></span>
                    <a id="navbar-admin" class="navbar-item d-flex align-items-center gap-sm-2"
                       th:classappend="${@viewUtils.activeClass('/admin')}"
                       th:href="@{/admin}">
                        <img class="h-75" src="/img/admin.png" alt="">
                        Admin
                    </a>
                </span>
            </div>
            <div class="position-absolute d-flex gap-3 end-0 fs-5 me-5">
                <button sec:authorize="isAnonymous()"
                        id="loginButton" class="navbar-item bg-transparent border-0"
                        hx:get="@{/auth/login(redirectUrl=${redirectUrl})}"
                        hx-target="#authModalContent"
                        hx-trigger="click"
                        data-bs-toggle="modal"
                        data-bs-target="#authModal">
                    <img src="/img/user.png" alt="User">
                </button>
                <div sec:authorize="isAuthenticated()" class="dropdown-center">
                    <button id="userDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"
                            data-bs-offset="0,10"
                            class="navbar-item bg-transparent border-0">
                        <img src="/img/user.png" alt="User">
                    </button>
                    <form class="dropdown-menu overflow-hidden border-0 rounded-0 pb-0 text-center" aria-labelledby="userDropdownMenuLink" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                        <div class="pb-2 px-3" style="text-transform: none !important;" sec:authentication="name"></div>
                        <div class="dropdown-item p-0 border-top">
                            <button type="submit" class="btn w-100 bg-transparent border-0 p-1">Sign out</button>
                        </div>
                    </form>
                </div>
                <button class="navbar-item bg-transparent border-0"
                        hx:get="@{/cart}"
                        hx-target="#cartModalContent"
                        data-bs-toggle="modal"
                        data-bs-target="#cartModal">
                    <img src="/img/cart.png" alt="Cart">
                </button>
            </div>
        </div>
    </nav>
    <dialog th:replace="~{fragments/dialog-modal :: modal('authModal')}"></dialog>
    <dialog th:replace="~{fragments/dialog-modal :: modalXl('cartModal')}"></dialog>
    <div th:replace="~{fragments/toasts}"></div>
    <script th:if="${promptAuth}">
        $(document).ready(function() {
            $("#loginButton")[0].click();
        })
    </script>
</header>

<footer th:fragment="footer" class="d-flex flex-column align-items-center text-white fw-bold w-100 mt-5 mb-5 opacity-25">
    <span class="fs-5">© 2026 MilV Shop. All rights reserved.</span>
    <span class="fs-6">Designed and developed by Luka Malečić.</span>
</footer>

</html>