<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<th:block th:replace="~{fragments/layout :: head('')}"></th:block>
<body hx-ext="response-targets" hx-target-error="#selected-view">
    <header th:replace="~{fragments/layout :: header}"></header>
    <main>
        <div class="text-center mb-4">
            <img src="/img/admin_salute.png" height="160" alt="Cover image">
        </div>
        <h2 class="fw-bold text-center">Reporting for duty Sir, all systems online!</h2>
        <h4 class="text-center mb-5" style="opacity: 70%">We prepared quick access for your administration needs here.</h4>

        <div class="admin-navbar">
            <button class="card admin-nav-btn text-center px-4 fs-4"
                    th:classappend="${@viewUtils.activeClass('/admin/tanks')}"
                    hx:get="@{tanks}"
                    hx-trigger="click"
                    hx-target="#selected-view">
                <img src="/img/tank.png" class="card-img text-center mb-3" alt="[NO IMAGE]">
                Tanks<br/>Department
            </button>
            <button class="card admin-nav-btn text-center px-4 fs-4"
                    hx:get="@{nations}"
                    hx-trigger="click"
                    hx-target="#selected-view">
                <img src="/img/world.png" class="card-img text-center mb-3" alt="[NO IMAGE]">
                Nations<br/>Department
            </button>
            <button class="card admin-nav-btn text-center px-4 fs-4"
                    hx:get="@{tank-roles}"
                    hx-trigger="click"
                    hx-target="#selected-view">
                <img src="/img/tankrole/heavy_tank.svg" class="card-img text-center mb-3" alt="[NO IMAGE]">
                Tank Roles<br/>Department
            </button>
            <button class="card admin-nav-btn text-center px-4 fs-4"
                    hx:get="@{users}"
                    hx-trigger="click"
                    hx-target="#selected-view">
                <img src="/img/user.png" class="card-img text-center mb-3" alt="[NO IMAGE]">
                Users<br/>Department
            </button>
            <button class="card admin-nav-btn text-center px-4 fs-4"
                    hx:get="@{orders}"
                    hx-trigger="click"
                    hx-target="#selected-view">
                <img src="/img/orders.png" class="card-img text-center mb-3" alt="[NO IMAGE]">
                Orders<br/>Department
            </button>
        </div>

        <div id="selected-view" class="mt-5">
            <div th:if="${sectionUrl != null}"
                 hx:get="${sectionUrl}"
                 hx-trigger="load queue:first"
                 hx-target="#selected-view">
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/layout :: footer}"></footer>
</body>
</html>