<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:replace="~{shared/head.html :: head('Tanks')}"></head>
<body>
    <div th:replace="~{shared/navbar.html :: navbar}"></div>
    <h1 class="fw-bold">Tanks</h1>
    <form method="post" id="filterForm" class="d-flex flex-column gap-3" th:action="@{/tanks/filter}" th:object="${filterModel}">
        <input th:field="*{nationIds}" name="nationIds" id="nationFilters" hidden>
        <input th:field="*{tankRoleIds}" name="tankRoleIds" id="tankRoleFilters" hidden>
        <div class="d-inline-flex flex-row gap-2">
            <label hidden for="search"></label>
            <input th:field="*{searchQuery}" name="searchQuery" id="search" type="text" class="form-control" placeholder="Search by name or description..." th:value="${filterModel.searchQuery}">
            <button class="btn btn-primary text-uppercase px-5">Search</button>
        </div>
        <div class="row">
            <div class="col-auto d-flex flex-column gap-2" style="max-width: 60%">
                <h4>Nations</h4>
                <div class="d-inline-flex align-items-center flex-wrap gap-3">
                    <button th:each="nation : ${nationsList}"
                            type="button"
                            data-filter-type="nations"
                            th:attr="data-filter-value=${nation.id}"
                            th:with="isChecked=${filterModel.nationIds != null ? filterModel.nationIds.contains(nation.id) : false}"
                            th:class="${(isChecked ? 'checked ' : '') + 'filter-btn border border-0 text-white d-inline-flex flex-row align-items-center gap-2 rounded-3'}">
                        <img class="rounded-1 flag-sm" th:src="${nation.imgPath}" th:alt="${nation.name}">
                        <span class="fs-6 text-uppercase" th:text="${nation.name}"></span>
                    </button>
                </div>
            </div>
            <div class="col-auto d-flex flex-column gap-2" style="max-width: 40%">
                <h4>Tank roles</h4>
                <div class="d-inline-flex align-items-center flex-wrap gap-2">
                    <button th:each="role : ${tankRolesList}"
                            type="button"
                            data-filter-type="tankRoles"
                            th:attr="data-filter-value=${role.id}"
                            th:with="isChecked=${filterModel.tankRoleIds != null ? filterModel.tankRoleIds.contains(role.id) : false}"
                            th:class="${(isChecked ? 'checked ' : '') + 'filter-btn border border-0 text-white d-inline-flex flex-row align-items-center gap-2 rounded-3'}">
                        <img class="flag-sm" th:src="${role.imgPath}" th:alt="${role.name}">
                        <span class="fs-6 text-uppercase" th:text="${role.name}"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div th:if="${not #lists.isEmpty(tanksList)}">

    </div>
    <footer th:replace="~{shared/footer.html :: footer}"></footer>
    <script>
        const filterButtons = $('.filter-btn');

        function initFilterButton(btn) {
            $(btn).on("click", () => {
                if ($(btn).hasClass('checked')) {
                    $(btn).removeClass('checked');
                } else {
                    $(btn).addClass('checked');
                }
            })
        }

        for (const filterButton of filterButtons) {
            initFilterButton(filterButton);
        }

        $('#filterForm').on("submit", (e) => {
            const checkedButtons = $('.filter-btn.checked');
            const filters = {};
            for (const btn of checkedButtons) {
                const filterType = $(btn).data('filter-type');
                const filterValue = Number($(btn).data('filter-value'));
                if (!filters[filterType]) {
                    filters[filterType] = [];
                }
                filters[filterType].push(filterValue);
            }

            $('#nationFilters').val(filters['nations'] ? filters['nations'].join(',') : '');
            $('#tankRoleFilters').val(filters['tankRoles'] ? filters['tankRoles'].join(',') : '');
        })
    </script>
</body>
</html>