<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<form th:fragment="form(searchPath)" method="get" id="filterForm"
      class="d-flex flex-column gap-3 mt-3"
      hx:get="${searchPath}"
      hx-trigger="load queue:all, submit, change delay:100ms, input delay:200ms, refreshList from:body"
      hx-target="#tankResults">
    <input name="nationIds" id="nationFilters" th:value="${results.filter.nationIds != null ? #strings.arrayJoin(results.filter.nationIds, ',') : ''}" hidden>
    <input name="tankRoleIds" id="tankRoleFilters" th:value="${results.filter.tankRoleIds != null ? #strings.arrayJoin(results.filter.tankRoleIds, ',') : ''}" hidden>
    <div th:if="${viewContext.name() == T(com.lmalecic.milvshop.viewmodel.ViewContext).ADMIN.name()}"
         class="form-check form-switch">
        <input id="showDeleted" type="checkbox" name="showDeleted" class="form-check-input" value="true" th:checked="${results.filter.showDeleted}">
        <label th:if="${viewContext.name() == T(com.lmalecic.milvshop.viewmodel.ViewContext).ADMIN.name()}"
               for="showDeleted" class="from-check-label">
            Show deleted
        </label>
    </div>
    <div class="d-inline-flex flex-row gap-3">
        <label hidden for="search">Name or description</label>
        <input name="searchQuery" id="search" type="text" class="form-control" placeholder="Search by name or description..." th:value="${results.filter.searchQuery}">
        <button class="btn btn-primary text-uppercase px-5 d-inline-flex gap-1">
            <i class="bi bi-search"></i>
            Search
        </button>
    </div>
    <div class="row">
        <div class="col d-flex flex-column gap-4" style="max-width: 300px;">
            <div class="d-flex flex-row gap-3">
                <div class="d-flex flex-column gap-1" style="max-width: 40%;">
                    <label for="crewSize">Crew size</label>
                    <input name="crewSize" id="crewSize" th:value="${results.filter.crewSize}" form="filterForm" class="form-control" type="text" placeholder="any">
                </div>
                <div class="d-flex flex-column flex-fill gap-1">
                    <label for="mainGunCalibre">Gun calibre</label>
                    <select class="form-select input" name="mainGunCalibre" id="mainGunCalibre" form="filterForm">
                        <option value="" th:selected="${results.filter.mainGunCalibre == null}">any</option>
                        <option th:each="calibre : ${results.mainGunCalibres}"
                                th:value="${calibre}"
                                th:text="${calibre + 'mm'}"
                                th:selected="${results.filter.mainGunCalibre != null and results.filter.mainGunCalibre.equals(calibre)}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="d-flex flex-column gap-1">
                <label for="priceMin">Price range</label>
                <div class="d-flex flex-row gap-3">
                    <div class="d-flex flex-column gap-1">
                        <div class="input-group">
                            <span class="input-group-text">€</span>
                            <input name="priceMin" id="priceMin" form='filterForm' th:value="${results.filter.priceMin}" class="form-control" type="text" placeholder="min">
                            <span class="input-group-text">-</span>
                            <label for="priceMax" hidden></label>
                            <input name="priceMax" id="priceMax" form="filterForm" th:value="${results.filter.priceMax}" class="form-control" type="text" placeholder="max">
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column gap-1">
                <label for="armorThicknessMin">Armour thickness</label>
                <div class="d-flex flex-row gap-3">
                    <div class="d-flex flex-column gap-1">
                        <div class="input-group">
                            <input name="armorThicknessMin" id="armorThicknessMin" th:value="${results.filter.armorThicknessMin}" form="filterForm" class="form-control" type="text" placeholder="min">
                            <span class="input-group-text">-</span>
                            <label for="armorThicknessMax" hidden></label>
                            <input name="armorThicknessMax" id="armorThicknessMax" th:value="${results.filter.armorThicknessMax}" form="filterForm" class="form-control" type="text" placeholder="max">
                            <span class="input-group-text">mm</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column gap-1">
                <label for="maxSpeed">Max speed</label>
                <div class="d-flex flex-row gap-3">
                    <div class="d-flex flex-column gap-1">
                        <div class="input-group">
                            <input name="maxSpeed" id="maxSpeed" form="filterForm" th:value="${results.filter.maxSpeed}" class="form-control" type="text" placeholder="any">
                            <span class="input-group-text">km&sol;h</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column gap-1">
                <label for="nationFilters">Nations</label>
                <div class="d-inline-flex align-items-center flex-wrap gap-2">
                    <button th:each="nation : ${results.nations}"
                            type="button"
                            data-filter-type="nations"
                            th:attr="data-filter-value=${nation.id}"
                            th:with="isChecked=${results.filter.nationIds != null ? results.filter.nationIds.contains(nation.id) : false}"
                            th:class="${(isChecked ? 'checked ' : '') + 'filter-btn border border-0 text-white d-inline-flex flex-row align-items-center gap-2 rounded-3'}">
                        <img class="rounded-1 flag-sm" th:src="${nation.imgPath}" th:alt="${nation.name}">
                        <span class="fs-6" th:text="${nation.name}"></span>
                    </button>
                </div>
            </div>
            <div class="d-flex flex-column gap-1">
                <label for="tankRoleFilters">Tank roles</label>
                <div class="d-inline-flex align-items-center flex-wrap gap-2">
                    <button th:each="role : ${results.tankRoles}"
                            type="button"
                            data-filter-type="tankRoles"
                            th:attr="data-filter-value=${role.id}"
                            th:with="isChecked=${results.filter.tankRoleIds != null ? results.filter.tankRoleIds.contains(role.id) : false}"
                            th:class="${(isChecked ? 'checked ' : '') + 'filter-btn border border-0 text-white d-inline-flex flex-row align-items-center gap-2 rounded-3'}">
                        <img class="flag-sm" th:src="${role.imgPath}" alt="">
                        <span class="fs-6" th:text="${role.name}"></span>
                    </button>
                </div>
            </div>
        </div>
        <div id="tankResults" class="col"></div>
    </div>
    <script>
        $(".filter-btn").on("click", function () {
            $(this).toggleClass("checked");

            const type = $(this).data("filter-type");
            const value = Number($(this).data("filter-value"));

            const hidden = $(`#${type === "nations" ? "nationFilters" : "tankRoleFilters"}`);

            let values = hidden.val()
                ? hidden.val().split(",").map(Number).filter(Boolean)
                : [];

            if ($(this).hasClass("checked")) {
                if (!values.includes(value)) values.push(value);
            } else {
                values = values.filter(v => v !== value);
            }

            hidden.val(values.join(","));

            htmx.trigger("#filterForm", "change");
        });
    </script>
</form>

</html>