<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<!--No results-->
<div class="d-flex flex-column align-items-center w-100 h-100 gap-3" th:if="${#lists.isEmpty(results.tanks)}">
    <p class="text-center fs-4 mt-5">No matching tanks found :(</p>
    <div th:if="${viewContext.name() == T(com.lmalecic.milvshop.viewmodel.ViewContext).ADMIN.name()}"
         class="px-2"
         style="min-width: 25% !important; max-width: 100%"
         th:insert="~{fragments/tank/tank-buttons :: create}">
    </div>
</div>

<!--With results-->
<div class="row row-cols-xxl-4 row-cols-xl-3 row-cols-lg-2 row-cols-md-1 row-cols-1 g-3" th:unless="${#lists.isEmpty(results.tanks)}">
    <div th:if="${viewContext.name() == T(com.lmalecic.milvshop.viewmodel.ViewContext).ADMIN.name()}"
         th:insert="~{fragments/tank/tank-buttons :: create}"
         class="px-2">
    </div>
    <div th:each="tank : ${results.tanks}"
         th:insert="~{fragments/tank/tank-buttons :: item(${tank})}"
         class="px-2">
    </div>
</div>

</html>