<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en"
      th:with="searchPath=@{/admin/tanks/search}">
<head th:replace="~{fragments/layout :: head('Admin | Tanks')}"></head>

<h1 class="fw-bold">Tanks Department</h1>
<form th:replace="~{fragments/tanks/search-form}"></form>

<dialog th:replace="~{fragments/dialog-modal :: modalXl('detailsModal')}"></dialog>
<dialog th:replace="~{fragments/dialog-modal :: modal('confirmDeleteModal')}"></dialog>

<script>
    (() => {
        const navBtns = $(".admin-nav-btn");
        navBtns.on("click", function () {
            navBtns.removeClass("active");
            $(this).addClass("active");
        })
    })();
</script>

</html>