<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<form id="tank-form" class="modal-content form-group">
    <div class="modal-header">
        <h1 class="fw-bold mb-0" th:if="${viewContext.name() == T(com.lmalecic.milvshop.ViewContext).CREATE.name()}">New Tank</h1>
        <h1 class="fw-bold mb-0" th:if="${viewContext.name() == T(com.lmalecic.milvshop.ViewContext).ADMIN.name()}">Edit Tank</h1>
        <h1 class="fw-bold mb-0" th:if="${viewContext.name() == T(com.lmalecic.milvshop.ViewContext).DELETE.name()}">Delete Tank</h1>
        <button th:replace="~{fragments/dialog-modal :: close-btn}"></button>
    </div>
    <div class="modal-body">
        <div class="row g-3">
            <div class="col d-flex flex-column gap-3">
                <div class="row g-3">
                    <div class="col d-flex flex-column gap-1">
                        <label for="name">Name</label>
                        <input id="name" name="name" class="form-control" type="text" placeholder="Enter tank name..." th:value="${viewModel.tank.name}">
                        <div class="invalid-feedback">Please enter a name.</div>
                    </div>
                    <div class="col-3 d-flex flex-column gap-1">
                        <label class="text-uppercase" for="nation">Nation</label>
                        <select class="form-select input" name="nation" id="nation">
                            <option th:if="${viewModel.tank.nation == null}" selected disabled value="">Select...</option>
                            <option th:each="nation : ${viewModel.nations}"
                                    th:selected="${viewModel.tank.nation != null && @viewUtils.isOptionSelected(nation.id, viewModel.tank.nation.id)}"
                                    th:value="${nation.id}"
                                    th:text="${nation.name}">
                            </option>
                        </select>
                        <div class="invalid-feedback">Please select a nation.</div>
                    </div>
                    <div class="col-3 d-flex flex-column gap-1">
                        <label for="tankRole">Main role</label>
                        <select class="form-select input" name="tankRole" id="tankRole">
                            <option th:if="${viewModel.tank.tankRole == null}" selected disabled value="">Select...</option>
                            <option th:each="tankRole : ${viewModel.tankRoles}"
                                    th:selected="${viewModel.tank.tankRole != null && @viewUtils.isOptionSelected(tankRole.id, viewModel.tank.tankRole.id)}"
                                    th:value="${tankRole.id}"
                                    th:text="${tankRole.name}">
                            </option>
                        </select>
                        <div class="invalid-feedback">Please select a role.</div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col d-flex flex-column gap-1">
                        <label for="mainGunCalibre">Gun calibre</label>
                        <div class="input-group has-validation">
                            <input id="mainGunCalibre" name="mainGunCalibre" class="form-control" type="number" min="0" th:value="${viewModel.tank.mainGunCalibre}">
                            <span class="input-group-text">mm</span>
                            <div class="invalid-feedback">Please enter a positive number.</div>
                        </div>
                    </div>
                    <div class="col d-flex flex-column gap-1">
                        <label for="maxSpeed">Max speed</label>
                        <div class="input-group has-validation">
                            <input id="maxSpeed" name="maxSpeed" class="form-control" type="number" min="0" th:value="${viewModel.tank.maxSpeed}">
                            <span class="input-group-text">km&sol;h</span>
                            <div class="invalid-feedback">Please enter a positive number.</div>
                        </div>
                    </div>
                    <div class="col d-flex flex-column gap-1">
                        <label for="armorThickness">Armor thickness</label>
                        <div class="input-group has-validation">
                            <input id="armorThickness" name="armorThickness" class="form-control" min="0" type="number" th:value="${viewModel.tank.armorThickness}">
                            <span class="input-group-text">mm</span>
                            <div class="invalid-feedback">Please enter a positive number.</div>
                        </div>
                    </div>
                </div>
                <div class="row g-3 flex-fill" style="margin-bottom: 1px;">
                    <div class="col d-flex flex-column gap-1">
                        <label for="description">Description</label>
                        <textarea class="form-control flex-fill" name="description" id="description" rows="3" placeholder="Enter tank description..." th:text="${viewModel.tank.description}"></textarea>
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column gap-3" style="max-width: 30%">
                <div class="row g-3">
                    <div class="col-5 d-flex flex-column gap-1">
                        <label for="crewSize">Crew size</label>
                        <div class="input-group has-validation">
                            <input id="crewSize" name="crewSize" class="form-control" type="number" min="0" th:value="${viewModel.tank.crewSize}">
                            <span class="input-group-text">ppl</span>
                            <div class="invalid-feedback">Please enter a positive number.</div>
                        </div>
                    </div>

                    <div class="col d-flex flex-column gap-1">
                        <label for="price">Price</label>
                        <div class="input-group has-validation">
                            <input id="price" name="price" class="form-control" type="number" placeholder="0.00" min="0" step="50" th:value="${viewModel.tank.price}">
                            <span class="input-group-text">&euro;</span>
                            <div class="invalid-feedback">Please enter a positive number.</div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col d-flex flex-column gap-1">
                        <label for="imgPath" class="text-uppercase">Image url</label>
                        <input class="form-control" id="imgPath" type="text" placeholder="Enter image url..." th:value="${viewModel.tank.imgPath}" name="imgPath">
                        <div class="tank-card card p-2">
                            <img id="tankImg" class="card-img text-center my-auto" th:src="${viewModel.tank.imgPath}" alt="[NO IMAGE]">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer pt-0">
        <div class="col d-inline-flex justify-content-end gap-3">
            <button type="button" id="deleteButton" th:if="${viewContext.name() == T(com.lmalecic.milvshop.ViewContext).ADMIN.name()}"
                    data-bs-toggle="modal"
                    data-bs-target="#confirmDeleteModal"
                    class="btn btn-danger text-uppercase d-inline-flex gap-1">
                <i class="bi bi-trash-fill"></i>
                Delete
            </button>
            <button th:if="${viewContext.name() == T(com.lmalecic.milvshop.ViewContext).ADMIN.name()}" class="btn btn-primary text-uppercase d-inline-flex gap-1">
                <i class="bi bi-floppy-fill"></i>
                Save
            </button>
            <button th:if="${viewContext.name() == T(com.lmalecic.milvshop.ViewContext).CREATE.name()}" class="btn btn-primary text-uppercase d-inline-flex gap-1">
                <i class="bi bi-plus-lg"></i>
                Create
            </button>
        </div>
    </div>
</form>

<script>
    (() => {
        const quantityInput = $("#quantity");
        const decrementBtn = $("#decrementQuantity");
        const incrementBtn = $("#incrementQuantity");

        quantityInput.on('keydown', (e) => {
            if (e.key.length === 1 && /\D/.test(e.key)) {
                e.preventDefault();
            }
        });

        function validateQuantity() {
            let value = Number.parseInt(quantityInput.val());
            const min = Number.parseInt(quantityInput.attr('min'));
            const max = Number.parseInt(quantityInput.attr('max'));

            if (Number.isNaN(value) || value < min) {
                quantityInput.val(min);
                value = min;
            } else if (value > max) {
                quantityInput.val(max);
                value = max;
            }

            decrementBtn.prop("disabled", value <= min);
            incrementBtn.prop("disabled", value >= max);
        }

        quantityInput.on('focusout', (e) => {
            validateQuantity();
        });

        decrementBtn.on("click", () => {
            quantityInput.get(0).stepDown();
            validateQuantity();
        });

        incrementBtn.on("click", () => {
            quantityInput.get(0).stepUp();
            validateQuantity();
        });
    })();

    (() => {
        const tankImg = $("#tankImg");
        const imgPathInput = $("#imgPath");

        imgPathInput.on("input", function() {
            const url = $(this).val();
            tankImg.attr("src", url || "");
        });
    })();

    (() => {
        // const formElements = $("#tank-form input, #tank-form textarea, #tank-form select, #tank-form button");
        // const deleteBtn = $("#deleteButton");
        // let confirmDelete = false;
        //
        // deleteBtn.on("click", e => {
        //     if (confirmDelete == true) {
        //         formElements.each((_, element) => {
        //             $(element).prop("disabled", true);
        //         });
        //         return;
        //     }
        //
        //     confirmDelete = true;
        // });
        //
        // deleteBtn.on("hide.bs.popover", e => {
        //     confirmDelete = false;
        // });
        //
        // new bootstrap.Popover(deleteBtn[0]);
    })();
</script>

</html>