<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<!--/*@thymesVar id="tankDto" type="com.lmalecic.milvshop.dto.TankDto"*/-->
<form id="tank-form" th:object="${tankDto}" th:action="@{#}" method="post" class="modal-content form-group">
    <label hidden for="id">Id</label>
    <input hidden th:field="*{id}">
    <div class="modal-header">
        <h3 class="modal-title command-text" th:if="${viewContext.name() == T(com.lmalecic.milvshop.viewmodel.ViewContext).CREATE.name()}">CREATE_TANK</h3>
        <h3 class="modal-title command-text" th:if="${viewContext.name() == T(com.lmalecic.milvshop.viewmodel.ViewContext).ADMIN.name() && !tankDto.deleted}" th:text="${'EDIT_TANK — ID ' + tankDto.id}">EDIT_TANK</h3>
        <h3 class="modal-title command-text" th:if="${viewContext.name() == T(com.lmalecic.milvshop.viewmodel.ViewContext).ADMIN.name() && tankDto.deleted}" th:text="${'DELETED_TANK — ID ' + tankDto.id}">DELETED_TANK</h3>
        <button th:replace="~{fragments/dialog-modal :: close-btn}"></button>
    </div>
    <div class="modal-body">
        <div class="row g-3">
            <div class="col d-flex flex-column gap-3">
                <div class="row g-3">
                    <div class="col">
                        <label for="name" class="form-label">Name</label>
                        <input th:field="*{name}" class="form-control" type="text" placeholder="Enter tank name..."
                               th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                               th:disabled="*{deleted}">
                        <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback d-block">
                            <span th:errors="*{name}"></span>
                        </div>
                    </div>
                    <div class="col-3">
                        <label for="nation" class="form-label">Nation</label>
                        <select th:field="*{nation}" class="form-select input"
                                th:classappend="${#fields.hasErrors('nation')} ? 'is-invalid'"
                                th:disabled="*{deleted}">
                            <option th:if="*{nation == null}" selected disabled value="">Select...</option>
                            <option th:each="nation : ${nations}"
                                    th:value="${nation.id}"
                                    th:text="${nation.name}">
                            </option>
                        </select>
                        <div th:if="${#fields.hasErrors('nation')}" class="invalid-feedback d-block">
                            <span th:errors="*{nation}"></span>
                        </div>
                    </div>
                    <div class="col-3">
                        <label for="tankRole" class="form-label">Main role</label>
                        <select th:field="*{tankRole}" class="form-select input"
                                th:classappend="${#fields.hasErrors('tankRole')} ? 'is-invalid'"
                                th:disabled="*{deleted}">
                            <option th:if="*{tankRole == null}" selected disabled value="">Select...</option>
                            <option th:each="tankRole : ${tankRoles}"
                                    th:value="${tankRole.id}"
                                    th:text="${tankRole.name}">
                            </option>
                        </select>
                        <div th:if="${#fields.hasErrors('tankRole')}" class="invalid-feedback d-block">
                            <span th:errors="*{tankRole}"></span>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <label for="mainGunCalibre" class="form-label">Gun calibre</label>
                        <div class="input-group" th:classappend="${#fields.hasErrors('mainGunCalibre')} ? 'has-validation'">
                            <input th:field="*{mainGunCalibre}" class="form-control" type="number" min="0"
                                   th:classappend="${#fields.hasErrors('mainGunCalibre')} ? 'is-invalid'"
                                   th:disabled="*{deleted}">
                            <span class="input-group-text">mm</span>
                            <div th:if="${#fields.hasErrors('mainGunCalibre')}" class="invalid-feedback d-block">
                                <span th:errors="*{mainGunCalibre}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="maxSpeed" class="form-label">Max speed</label>
                        <div class="input-group" th:classappend="${#fields.hasErrors('maxSpeed')} ? 'has-validation'">
                            <input th:field="*{maxSpeed}" class="form-control" type="number" min="0"
                                   th:classappend="${#fields.hasErrors('maxSpeed')} ? 'is-invalid'"
                                   th:disabled="*{deleted}">
                            <span class="input-group-text">km&sol;h</span>
                            <div th:if="${#fields.hasErrors('maxSpeed')}" class="invalid-feedback d-block">
                                <span th:errors="*{maxSpeed}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="armorThickness" class="form-label">Armor thickness</label>
                        <div class="input-group" th:classappend="${#fields.hasErrors('armorThickness')} ? 'has-validation'">
                            <input th:field="*{armorThickness}" class="form-control" min="0" type="number"
                                   th:classappend="${#fields.hasErrors('armorThickness')} ? 'is-invalid'"
                                   th:disabled="*{deleted}">
                            <span class="input-group-text">mm</span>
                            <div th:if="${#fields.hasErrors('armorThickness')}" class="invalid-feedback d-block">
                                <span th:errors="*{armorThickness}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3 flex-fill" style="margin-bottom: 1px;">
                    <div class="col d-flex flex-column">
                        <label for="description" class="form-label">Description</label>
                        <textarea th:field="*{description}" class="form-control flex-fill mb-0" rows="3" placeholder="Enter tank description..."
                                  th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'"
                                  th:disabled="*{deleted}"></textarea>
                        <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback d-block">
                            <span th:errors="*{description}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column gap-3" style="max-width: 30%">
                <div class="row g-3">
                    <div class="col-5">
                        <label for="crewSize" class="form-label">Crew size</label>
                        <div class="input-group" th:classappend="${#fields.hasErrors('crewSize')} ? 'has-validation'">
                            <input th:field="*{crewSize}" class="form-control" type="number" min="0" step="1"
                                   th:classappend="${#fields.hasErrors('crewSize')} ? 'is-invalid'"
                                   th:disabled="*{deleted}">
                            <span class="input-group-text">ppl</span>
                            <div th:if="${#fields.hasErrors('crewSize')}" class="invalid-feedback d-block">
                                <span th:errors="*{crewSize}"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <label for="price" class="form-label">Price</label>
                        <div class="input-group" th:classappend="${#fields.hasErrors('price')} ? 'has-validation'">
                            <input th:field="*{price}" class="form-control" type="number" placeholder="0.00" min="0"
                                   th:classappend="${#fields.hasErrors('price')} ? 'is-invalid'"
                                   th:disabled="*{deleted}">
                            <span class="input-group-text">&euro;</span>
                            <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback d-block">
                                <span th:errors="*{price}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <label for="imgPath" class="form-label">Image url</label>
                        <input th:field="*{imgPath}" id="imgPath" class="form-control" type="text" placeholder="Enter image url..."
                               th:classappend="${#fields.hasErrors('imgPath')} ? 'is-invalid'"
                               th:disabled="*{deleted}">
                        <div th:if="${#fields.hasErrors('imgPath')}" class="invalid-feedback d-block">
                            <span th:errors="*{imgPath}"></span>
                        </div>
                        <div class="tank-card card p-2">
                            <img id="tankImg" class="card-img text-center my-auto" th:src="*{imgPath}" alt="[NO IMAGE]">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer pt-0">
        <div class="col d-inline-flex justify-content-end gap-3">
            <button type="button" th:if="${viewContext.name() == T(com.lmalecic.milvshop.viewmodel.ViewContext).ADMIN.name() && !tankDto.deleted}"
                    hx:get="@{tanks/delete/{id}(id=*{id})}"
                    hx-target="#confirmDeleteModalContent"
                    data-bs-toggle="modal"
                    data-bs-target="#confirmDeleteModal"
                    class="btn btn-danger text-uppercase d-inline-flex gap-1">
                <i class="bi bi-trash-fill"></i>
                Delete
            </button>
            <button type="button" th:if="${viewContext.name() == T(com.lmalecic.milvshop.viewmodel.ViewContext).ADMIN.name() && tankDto.deleted}"
                    hx:patch="@{tanks/recover/{id}(id=*{id})}"
                    hx-target="#tankModalContent"
                    class="btn btn-secondary text-uppercase d-inline-flex gap-1">
                <i class="bi bi-recycle"></i>
                Recover
            </button>
            <button type="button" th:if="${viewContext.name() == T(com.lmalecic.milvshop.viewmodel.ViewContext).ADMIN.name() && !tankDto.deleted}"
                    hx:patch="@{tanks/edit}"
                    hx-target="#tankModalContent"
                    class="btn btn-primary text-uppercase d-inline-flex gap-1">
                <i class="bi bi-floppy-fill"></i>
                Save
            </button>
            <button type="button" th:if="${viewContext.name() == T(com.lmalecic.milvshop.viewmodel.ViewContext).CREATE.name()}"
                    hx:post="@{tanks/create}"
                    hx-target="#tankModalContent"
                    class="btn btn-primary text-uppercase d-inline-flex gap-1">
                <i class="bi bi-plus-lg"></i>
                Create
            </button>
        </div>
    </div>
</form>

<script>
    (() => {
        const tankImg = $("#tankImg");
        const imgPathInput = $("#imgPath");

        imgPathInput.on("input", function() {
            const url = $(this).val();
            tankImg.attr("src", url || "");
        });
    })();
</script>

</html>