<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<form id="tank-form" th:action="@{/admin/tanks/{action}(action=${viewContext.getRouteWord()})}" method="post" class="modal-content form-group">
    <div class="modal-header">
        <h3 class="modal-title command-text" th:if="${viewContext.name() == T(com.lmalecic.milvshop.viewmodel.ViewContext).CREATE.name()}">CREATE_TANK</h3>
        <h3 class="modal-title command-text" th:if="${viewContext.name() == T(com.lmalecic.milvshop.viewmodel.ViewContext).ADMIN.name() && !tank.deleted}">EDIT_TANK</h3>
        <h3 class="modal-title command-text" th:if="${viewContext.name() == T(com.lmalecic.milvshop.viewmodel.ViewContext).ADMIN.name() && tank.deleted}">DELETED_TANK</h3>
        <button th:replace="~{fragments/dialog-modal :: close-btn}"></button>
    </div>
    <div class="modal-body">
        <div class="row g-3">
            <div class="col d-flex flex-column gap-3">
                <div class="row g-3">
                    <div class="col d-flex flex-column gap-1">
                        <label for="name">Name</label>
                        <input id="name" name="name" class="form-control" type="text" placeholder="Enter tank name..."
                               th:value="${tank.name}" th:disabled="${tank.deleted}">
                        <div class="invalid-feedback">Please enter a name.</div>
                    </div>
                    <div class="col-3 d-flex flex-column gap-1">
                        <label class="text-uppercase" for="nation">Nation</label>
                        <select class="form-select input" name="nation" id="nation" th:disabled="${tank.deleted}">
                            <option th:if="${tank.nation == null}" selected disabled value="">Select...</option>
                            <option th:each="nation : ${nations}"
                                    th:selected="${tank.nation != null && @viewUtils.isOptionSelected(nation.id, tank.nation.id)}"
                                    th:value="${nation.id}"
                                    th:text="${nation.name}">
                            </option>
                        </select>
                        <div class="invalid-feedback">Please select a nation.</div>
                    </div>
                    <div class="col-3 d-flex flex-column gap-1">
                        <label for="tankRole">Main role</label>
                        <select class="form-select input" name="tankRole" id="tankRole" th:disabled="${tank.deleted}">
                            <option th:if="${tank.tankRole == null}" selected disabled value="">Select...</option>
                            <option th:each="tankRole : ${tankRoles}"
                                    th:selected="${tank.tankRole != null && @viewUtils.isOptionSelected(tankRole.id, tank.tankRole.id)}"
                                    th:value="${tankRole.id}"
                                    th:text="${tankRole.name}">
                            </option>
                        </select>
                        <div class="invalid-feedback">Please select a role.</div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col d-flex flex-column gap-1">
                        <label for="mainGunCalibre">Gun calibre</label>
                        <div class="input-group has-validation">
                            <input id="mainGunCalibre" name="mainGunCalibre" class="form-control" type="number" min="0"
                                   th:value="${tank.mainGunCalibre}"
                                   th:disabled="${tank.deleted}">
                            <span class="input-group-text">mm</span>
                            <div class="invalid-feedback">Please enter a positive number.</div>
                        </div>
                    </div>
                    <div class="col d-flex flex-column gap-1">
                        <label for="maxSpeed">Max speed</label>
                        <div class="input-group has-validation">
                            <input id="maxSpeed" name="maxSpeed" class="form-control" type="number" min="0"
                                   th:value="${tank.maxSpeed}"
                                   th:disabled="${tank.deleted}">
                            <span class="input-group-text">km&sol;h</span>
                            <div class="invalid-feedback">Please enter a positive number.</div>
                        </div>
                    </div>
                    <div class="col d-flex flex-column gap-1">
                        <label for="armorThickness">Armor thickness</label>
                        <div class="input-group has-validation">
                            <input id="armorThickness" name="armorThickness" class="form-control" min="0" type="number" th:value="${tank.armorThickness}"
                                   th:disabled="${tank.deleted}">
                            <span class="input-group-text">mm</span>
                            <div class="invalid-feedback">Please enter a positive number.</div>
                        </div>
                    </div>
                </div>
                <div class="row g-3 flex-fill" style="margin-bottom: 1px;">
                    <div class="col d-flex flex-column gap-1">
                        <label for="description">Description</label>
                        <textarea class="form-control flex-fill" name="description" id="description" rows="3" placeholder="Enter tank description..."
                                  th:text="${tank.description}"
                                  th:disabled="${tank.deleted}"></textarea>
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column gap-3" style="max-width: 30%">
                <div class="row g-3">
                    <div class="col-5 d-flex flex-column gap-1">
                        <label for="crewSize">Crew size</label>
                        <div class="input-group has-validation">
                            <input id="crewSize" name="crewSize" class="form-control" type="number" min="0" step="1"
                                   th:value="${tank.crewSize}"
                                   th:disabled="${tank.deleted}">
                            <span class="input-group-text">ppl</span>
                            <div class="invalid-feedback">Please enter a positive number.</div>
                        </div>
                    </div>

                    <div class="col d-flex flex-column gap-1">
                        <label for="price">Price</label>
                        <div class="input-group has-validation">
                            <input id="price" name="price" class="form-control" type="number" placeholder="0.00" min="0"
                                   th:value="${tank.price}"
                                   th:disabled="${tank.deleted}">
                            <span class="input-group-text">&euro;</span>
                            <div class="invalid-feedback">Please enter a positive number.</div>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col d-flex flex-column gap-1">
                        <label for="imgPath" class="text-uppercase">Image url</label>
                        <input id="imgPath" name="imgPath" class="form-control" type="text" placeholder="Enter image url..."
                               th:value="${tank.imgPath}"
                               th:disabled="${tank.deleted}">
                        <div class="tank-card card p-2">
                            <img id="tankImg" class="card-img text-center my-auto" th:src="${tank.imgPath}" alt="[NO IMAGE]">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer pt-0">
        <div class="col d-inline-flex justify-content-end gap-3">
            <button type="button" id="deleteButton" th:if="${viewContext.name() == T(com.lmalecic.milvshop.viewmodel.ViewContext).ADMIN.name() && !tank.deleted}"
                    hx:get="@{/admin/tanks/delete/{id}(id=${tank.id})}"
                    hx-target="#confirmDeleteModalContent"
                    data-bs-toggle="modal"
                    data-bs-target="#confirmDeleteModal"
                    class="btn btn-danger text-uppercase d-inline-flex gap-1">
                <i class="bi bi-trash-fill"></i>
                Delete
            </button>
            <button id="recoverButton" th:if="${viewContext.name() == T(com.lmalecic.milvshop.viewmodel.ViewContext).ADMIN.name() && tank.deleted}"
                    hx:patch="@{/admin/tanks/recover/{id}(id=${tank.id})}"
                    hx-target="#tankModalContent"
                    class="btn btn-secondary text-uppercase d-inline-flex gap-1">
                <i class="bi bi-recycle"></i>
                Recover
            </button>
            <button th:if="${viewContext.name() == T(com.lmalecic.milvshop.viewmodel.ViewContext).ADMIN.name() && !tank.deleted}" class="btn btn-primary text-uppercase d-inline-flex gap-1">
                <i class="bi bi-floppy-fill"></i>
                Save
            </button>
            <button th:formaction="@{/admin/tanks/create}" th:if="${viewContext.name() == T(com.lmalecic.milvshop.viewmodel.ViewContext).CREATE.name()}" class="btn btn-primary text-uppercase d-inline-flex gap-1">
                <i class="bi bi-plus-lg"></i>
                Create
            </button>
        </div>
    </div>
</form>

<script>
    (() => {
        const quantityInput = $("#quantity");
        const decrementBtn = $("#decrementQuantity");
        const incrementBtn = $("#incrementQuantity");

        quantityInput.on('keydown', (e) => {
            if (e.key.length === 1 && /\D/.test(e.key)) {
                e.preventDefault();
            }
        });

        function validateQuantity() {
            let value = Number.parseInt(quantityInput.val());
            const min = Number.parseInt(quantityInput.attr('min'));
            const max = Number.parseInt(quantityInput.attr('max'));

            if (Number.isNaN(value) || value < min) {
                quantityInput.val(min);
                value = min;
            } else if (value > max) {
                quantityInput.val(max);
                value = max;
            }

            decrementBtn.prop("disabled", value <= min);
            incrementBtn.prop("disabled", value >= max);
        }

        quantityInput.on('focusout', (e) => {
            validateQuantity();
        });

        decrementBtn.on("click", () => {
            quantityInput.get(0).stepDown();
            validateQuantity();
        });

        incrementBtn.on("click", () => {
            quantityInput.get(0).stepUp();
            validateQuantity();
        });
    })();

    (() => {
        const tankImg = $("#tankImg");
        const imgPathInput = $("#imgPath");

        imgPathInput.on("input", function() {
            const url = $(this).val();
            tankImg.attr("src", url || "");
        });
    })();
</script>

</html>