<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<!--No results-->
<div class="d-flex flex-column align-items-center w-100 h-100 gap-3" th:if="${#lists.isEmpty(orders)}">
    <p class="text-center fs-4 mt-5">No orders found</p>
</div>

<!--With results-->
<div class="row row-cols-xxl-4 row-cols-xl-3 row-cols-lg-2 row-cols-md-1 row-cols-1 g-3" th:unless="${#lists.isEmpty(orders)}">
    <div th:each="order : ${orders}" class="px-2 w-100">
        <div th:replace="~{fragments/orders/item}"></div>
    </div>
</div>

</html>