<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<!--/*@thymesVar id="searchCriteria" type="com.lmalecic.milvshop.criteria.OrderSearchCriteria"*/-->
<form class="d-flex flex-column gap-3 mt-3" method="get"
      hx:get="${searchPath}"
      hx-trigger="load, submit, change delay:100ms, input delay:200ms, refreshList from:body"
      hx-target="#searchResults"
      th:object="${searchCriteria}">
    <div class="d-flex flex-column gap-2">
        <label class="form-check form-switch" th:if="${T(com.lmalecic.milvshop.viewmodel.ViewContext).ADMIN.name() == viewContext.name()}">
            <input type="checkbox" class="form-check-input" th:field="*{showDeleted}">
            <span class="from-check-label">Show deleted</span>
        </label>
        <div class="d-flex gap-3">
            <label>
                <span class="input-group">
                    <span class="input-group-text">From</span>
                    <input type="date" class="form-control" th:field="*{afterDate}">
                    <span class="input-group-text">To</span>
                    <input type="date" class="form-control" th:field="*{beforeDate}">
                </span>
            </label>
            <label class="d-inline-flex flex-row flex-fill" th:if="${T(com.lmalecic.milvshop.viewmodel.ViewContext).ADMIN.name() == viewContext.name()}">
                <span hidden>Username or user id</span>
                <input type="text" class="form-control" placeholder="Search by username or user id..." th:field="*{userQuery}">
            </label>
        </div>
    </div>
    <div class="row">
        <div id="searchResults" class="col"></div>
    </div>
</form>

</html>